/* CSS Layout for iSpeak */

 @font-face{
    font-family:"opensans regular";
	src:url('../fonts/OpenSans-Regular-webfont.eot?-xv7gbr');
	src:url('../fonts/OpenSans-Regular-webfont.eot?#iefix-xv7gbr') format('embedded-opentype'),
		url('../fonts/OpenSans-Regular-webfont.woff?-xv7gbr') format('woff'),
	    url('../fonts/OpenSans-Regular-webfont.ttf?-xv7gbr') format('truetype'),
		url('../fonts/OpenSans-Regular-webfont.svg?-xv7gbr#opensans regular') format('svg');
	font-weight:normal;
    font-style:normal;	
	}
@font-face{
            font-family:"opensans bold";
            src:url("../fonts/OpenSans-Bold-webfont.eot");
            src:url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
                url("../fonts/OpenSans-Bold-webfont.woff") format("woff"),
                url("../fonts/OpenSans-Bold-webfont.ttf")  format("truetype"),
                url("../fonts/OpenSans-Bold-webfont.svg")  format("svg");
            font-weight:bold;
        }
@font-face{
		    font-family:"Autour One";
			src:url("../fonts/AutourOne-Regular.otf") format("otf");
			font-weight:normal;
		}
		
     html,body{
	      font-size:16px;
	      margin:0;
		  padding:0;
		 }
	@media (min-width:1200px){	 
	 .wrapper{
          min-width:1263px;
          }		  
	}	  
	 h2,p{
	      margin:0;
		 }
	 #header{
          width:100%;
          height:8vh;
		  position:fixed;
		  background-image:-webkit-linear-gradient(to bottom,#9a1cb5,#842399);
		  background-image:-moz-linear-gradient(to bottom,#9a1cb5,#842399);
          background-image:linear-gradient(to bottom,#9a1cb5,#842399);
		  box-shadow:0em 0.2em 0.2em #666;
		  z-index:2;
         }
	 #header h2{
          display:inline-block;
		  position:relative;
		  left:10px;
         }		  
	 #mic{
          position:relative;
          left:15px;
          top:7px;
        }	
     #strap{
          width:80px;
          height:50px;
          border-bottom-left-radius:20%;
		  border-bottom-right-radius:20%;
		  box-shadow:0em 0.2em 0.2em #666;
          background-image:linear-gradient(to bottom,#842399,#9a1cb5);
          display:inline-block;
          position:relative;
		  left:300px;
		  top:15px;
		  cursor:pointer;
        }	
     #strap:hover{
          background-image:linear-gradient(to bottom,#7b1e8f,#9a1cb5);
        }		  
	 		  
    #curr_issue{
          font:normal normal normal 1.3em sans;
          color:#b75f79;
		  position:absolute;
		  top:60px;
		  right:30px;
        }		  
	#block{
          width:150px;
          height:200px;
		  border-left:5px solid #860f5c;
          background-color:#235367;
          display:none;
		  position:absolute;
		  top:110px;
		  left:540px;
        }
			  
	#block ul{
           width:100%;
           margin:0;
           padding:5px;
		   box-sizing:border-box;
		   position:relative;
        }
    #block ul::before{
           content:"";
           width:0;
           height:0;
           border-width:10px;
           border-style:solid;
           border-color:transparent transparent #235367 transparent;
  		   position:absolute;
		   top:-20px;
		   left:60px;
		}  
    #block li{
          list-style-type:none;
		  text-align:left;
		  font-size:1.2em;
		  font-family:"Segoe UI";
          color:white;
		  cursor:pointer;
        }
    #block ul li:hover{
          color:black;
        }
     h2{
         font:bolder normal normal 2em "Segoe UI Bold","opensans bold";
		 margin:0;
         color:#eae7e7;
       }
	 #tagline{
         color:#bbb;
         font-size:1em;
		 font-family:"arial";
		 position:relative;
		 left:20px;
       }
     #header input[type = "button"]{
         width:8.70%;
		 position:absolute;
		 right:13px;
		 top:12px;
       }		 
	 .pages{
         width:98.4%;
         padding:0px 10px;
         position:relative;
         z-index:1;
       }		 
     #page1{
         height:128vh;
		 padding-top:110px;
		 background:url("../img/squared_metal_@2X.png") repeat;
       }
	   		 
     #page2{
         height:154vh;
		 background:url("../img/wavegrid_@2X.png") repeat;
       }	
     #page3{
         height:67vh;
		 background:url("../img/pw_pattern_@2X.png") repeat;
        }	
     #page4{
         height:230vh;
		 background:url("../img/pixel_weave_@2X.png") repeat;
         }
		 
	.chatbox{
         width:31.67%;
       }	 
	   
	 .payal{
		 height:90px;
		 padding:0px 5px;
		 margin:0px 0px;
		 box-sizing:border-box;
		 background-color:#e0b511;
		 position:relative;
		 left:20px;
	   }	
	 .payal::before,.payal::after{
	    content:"";
		border-radius:50%;
		position:absolute; 
		z-index:-1;
		}
	 .payal::before{
	     width:40px;
		 height:40px;
		 left:70px;
		 top:80px;
		 background-color:#e0b511;
        }	 
     .payal::after{
        width:35px;
        height:35px;
        left:65px;
        top:85px;
     }	
     #page1 .payal::after,#page1 .karan::after{
        background-image:url("../img/squared_metal_@2X.png");
     }
     #page2 .payal::after,#page2 .karan::after{
        background-image:url("../img/wavegrid_@2X.png");
     }		
	 #page3 .payal::after,#page3 .karan::after{
	    background-image:url("../img/pw_pattern_@2X.png");
	 }
     #page4 .payal::after,#page4 .karan::after{
        background-image:url("../img/pixel_weave_@2X.png");
     }		
     .karan{
         height:90px;
		 padding:0px 5px;
		 margin:0px 0px;
		 box-sizing:border-box;
         background-color:#5fb613;
		 position:relative;
		 left:210%;
		 top:90px;
       }		 
	 .karan::before,.karan::after{
        content:"";
		border-radius:50%;
		position:absolute; 
		z-index:-1;
       }
     .karan::before{
        width:40px;
        height:40px;
        background-color:#5fb613;
        right:80px;
        top:80px;
       }
      .karan::after{
        width:35px;
        height:35px;
        right:75px;
        top:85px;
       }	
      .chat21::before,.chat21::after,.chat23::before,.chat23::after{
        content:"";
		border-radius:50%;
		position:absolute; 
		z-index:-1;
       }
      .chat21::before{
        width:40px;
        height:40px;
        background-color:#5fb613;
        right:80px;
        top:95px;
       }
       .chat21::after{
        width:35px;
        height:35px;
        background-image:url("img/squared_metal_@2X.png");
        top:100px;
        right:75px;
       }		
	  .chat23::before{
        width:40px;
        height:40px;
        background-color:#5fb613;
        right:80px;
        top:145px;
       }		
	  .chat23::after{
        width:35px;
        height:35px;
        background-image:url("img/squared_metal_@2X.png");
        top:150px;
        right:75px;
       }		
      p{
         font:normal normal normal 1.15em "Segoe UI","opensans regular";
		 color:#000;
        }		 
     	
     #five{
         width:100%;
         height:50vh;
         background:url("img/shattered_@2X.png") repeat;
         }	
     footer{
         width:100%;
         height:10vh;
         background:url("../img/pw_maze_black_@2X.png") repeat;
          }	
     footer p{
         color:#a3bf0c;
          }		 	
     .chat13{
         top:170px;
        }	
     .chat14{
         top:260px;
        }	
     .chat15{
         top:350px;
        }
     .chat21{
	     height:105px;
		 top:10px;
        }	
     .chat22{
         top:90px;
        }
     .chat23{
	     height:155px;
         top:180px;
        }
     .chat24{
         top:270px;
        }		 
	 .chat25{
	     height:155px;
         top:360px;
        }
     #p2_c5 .karan::before{
	     top:148px; 
        }
     #p2_c5 .karan::after{
	     top:154px;
        }	 
	 .chat31{
	     height:180px;
         top:10px;
        }
     #p3_c1 .karan::before{
         top:173px;
       }
     #p3_c1 .karan::after{
         top:178px;
       }		 
	 .chat32{
         top:90px;
        }		 
	 .chat41{
	     height:210px;
         top:10px;
        }	
	 #p4_c1 .karan::before{
         top:203px;
        }		
     #p4_c1 .karan::after{
         top:208px;
       }		 
	 #p4_c3 .karan::before{
         top:249px;
       }		
     #p4_c3 .karan::after{
         top:254px;
       }		 
	 #p4_c5 .karan::before{
         top:255px;
       }		
     #p4_c5 .karan::after{
         top:259px;
       }		 
     .chat42{
         top:90px;
        }		 
	 .chat43{
	     height:255px;
         top:180px;
        }		
     .chat44{
         top:270px;
        }	
     .chat45{
	     height:260px;
         top:360px;
        }		 
	 .chat46{
	     height:110px;
         top:450px;
        }		
	 #p4_c6 .payal::before{
         top:101px;
        }
     #p4_c6 .payal::after{
         top:105px;
        }		 
	 #p1_c1 .details{
	     position:absolute;
		 top:230px;
		 left:60px;
		} 
	 #p1_c2 .details{
         position:absolute;
		 right:50px;
		 top:410px;
       }		
     #p1_c3 .details{
         position:absolute;
         left:60px;
         top:580px;
       }		
     #p1_c4 .details{
         position:absolute;
         right:50px;
         top:760px;
       }		
     #p1_c5 .details{
         position:absolute;
         left:60px;
         top:940px;
       }		 
	 #p2_c1 .details{
         position:absolute;
         right:50px;
         top:145px;
       }
     #p2_c2 .details{
         position:absolute;
         left:60px;
         top:315px;
      }		 
	 #p2_c3 .details{
         position:absolute;
         right:50px;
         top:560px;
      }		 
	 #p2_c4 .details{
	     position:absolute;
		 left:60px;
		 top:740px;
	  }	 
	 #p2_c5 .details{
         position:absolute;
         right:50px;
         top:990px;
     }		 
	 #p3_c1 .details{
	     position:absolute;
		 right:50px;
		 top:225px;
	 }	 
	 #p3_c2 .details{
	     position:absolute;
		 left:60px;
		 top:390px;
	 }	 
	 #p4_c1 .details{
	     position:absolute;
		 right:50px;
		 top:255px;
	 }	 
	 #p4_c2 .details{
	     position:absolute;
		 left:60px;
		 top:420px;
	 }	 
	 #p4_c3 .details{
	     position:absolute;
		 right:50px;
		 top:770px;
     }		 
	 #p4_c4 .details{
	     position:absolute;
		 left:60px;
		 top:945px;
	 }	 
	 #p4_c5 .details{
	     position:absolute;
		 right:50px;
		 top:1300px;
	 }	 
	 #p4_c6 .details{
	     position:absolute;
		 left:60px;
		 top:1498px;
	 }	 
     .k-details{
         position:absolute;
         top:120px;
         right:10px;
        }		 
     .user{
         padding:2px;
         background-color:transparent;
         color:#00a2e8;
         font:bold normal normal 0.8em 'Segoe UI Bold','opensans bold';
        }
	 .seperator{
         color:#e80039;
        }		 
     .timestamp{
         padding:2px;
         background-color:transparent;
         color:#666;
         font:normal normal normal 0.755em 'Segoe UI','opensans regular';
       }
	 .footnote{
        color:#e80039;
		font:italic normal normal 0.892em "Autour One";
       }
     #page1 .footnote{
		position:absolute;
		top:940px;
		right:20px;
       }		
	 #page2 .footnote{
        position:absolute;
        top:1005px;
       }		
	 #page3 .footnote{
        position:absolute;
        top:420px;
		right:20px;
       }		
	 #page4 .footnote{
        position:absolute;
        top:1525px;
		right:20px;
       }
	 footer p:last-of-type{
        text-align:center;
		color:#fff;
		font-size:1em;
       }
     a{
        text-decoration:none;
        color:yellow;
      }		